bootsect
Image
bootsect.o
setup
setup.o
head
head.o
system
tools/kernel
main.o
chr_drv.a
console.o
printk.o
vsprintf.o
kernel.o
sched.o
traps.o
asm.o
system_call.o
sys.o
write.o
lib.a
memory.o
mm.o
panic.o
fork.o
hd.o
blk_drv.a